{{!Begin Menu Item}}
<li class="active">
	<a href="{{@blog.url}}"> <!--Keep href="{{@blog.url}}" for home page-->
		Home 
	</a>
</li>
{{!End Menu Item}}
{{!Begin Menu Item}}
		{{>misc/menu-tags style="stack" max_items="15" show_count="false"}}
{{!End Menu Item}}
{{!Begin Menu Item}}
<li class="has-children hide hidden"> 
	<a href="#"> 
		Unit Tests
	</a>
	<ul class="sub-menu">				
		<li class="has-children">
			<a href="#">Page Layouts</a>
			<ul class="sub-menu">
				<li>
					<a href="{{@blog.url}}/left-sidebar/">Left Sidebar</a>
				</li>
				<li>
					<a href="{{@blog.url}}/right-sidebar/">Right Sidebar</a>
				</li>
				<li>
					<a href="{{@blog.url}}/both-sidebars/">Both Sidebars</a>
				</li>
				<li>
					<a href="{{@blog.url}}/full-width/">Full Width</a>
				</li>
			</ul>
		</li>
		<li class="has-children"> 
			<a href="#">Post Formats</a>
			<ul class="sub-menu">
				<li>
					<a href="{{@blog.url}}/which-is-the-best-bordeaux-or-burgundy/">Featured Post</a>
				</li>
				<li>
					<a href="{{@blog.url}}/wireless-speaker-or-art-piece/">Image Format</a>
				</li>
				<li>
					<a href="{{@blog.url}}/audi-sends-self-driving-a7-sportback-auto/">Video Format</a>
				</li>
				<li>
					<a href="{{@blog.url}}/the-92m-x-ballet-brings-relaxed/">Audio Format</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="{{@blog.url}}/html-markup/">Html Markup</a>
		</li>
		<li>
			<a href="{{@blog.url}}/image-alignment/">Image Alignment</a>
		</li>
		<li>
			<a href="{{@blog.url}}/short-codes/">Short Codes</a>
		</li>		
		<li>
			<a href="{{@blog.url}}/9999/">404 Error</a>
		</li>		
	</ul>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li class="has-children">
	<a href="#"> 
		About
	</a>
		<ul class="sub-menu">
			<li >
				<a class="external" href="http://unmistakable.us/">About Us</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/travel">Travel</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/educate">Educate</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/craft">Craft</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/create">Create</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/write">Write</a>
			</li>
		</ul>
</li>
{{!End Menu Item}}
{{!Begin Menu Item}}
		{{>misc/menu-pages style="stack" max_items="9" show_count="false"}}
{{!End Menu Item}}

{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}/contact/"> 
		Contact
	</a>
</li>
{{!End Menu Item}}
{{!Create your next Menu Item}}