{{!Begin Menu Item}}
<li class="active">
	<a href="{{@blog.url}}"> <!--Keep href="{{@blog.url}}" for home page-->
		Home <!--Change text of menu here-->
	</a>
</li>
{{!End Menu Item}}
{{!Begin Menu Item}}
		{{>misc/menu-tags style="stack" max_items="15" show_count="false"}}
{{!End Menu Item}}
{{!Begin Menu Item}}
<li class="has-children"> <!-- Add class="has-children" for multi level menu.-->
	<a href="#"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/resume/-->
		Unit Tests <!--Change text of menu here-->
	</a>
	<!-- Begin level 2 menu-->
	<ul class="sub-menu">				
		<li class="has-children"> <!-- Add class="has-children" for multi level menu.-->
			<a href="#">Page Layouts</a>
			<!-- Begin level 3 menu-->
			<ul class="sub-menu">
				<li>
					<a href="{{@blog.url}}/left-sidebar/">Left Sidebar</a>
				</li>
				<li>
					<a href="{{@blog.url}}/right-sidebar/">Right Sidebar</a>
				</li>
				<li>
					<a href="{{@blog.url}}/both-sidebars/">Both Sidebars</a>
				</li>
				<li>
					<a href="{{@blog.url}}/full-width/">Full Width</a>
				</li>
			</ul>
			<!-- End level 3 menu-->
		</li>
		<li class="has-children"> <!-- Add class="has-children" for multi level menu.-->
			<a href="#">Post Formats</a>
			<!-- Begin level 3 menu-->
			<ul class="sub-menu">
				<li>
					<a href="{{@blog.url}}/which-is-the-best-bordeaux-or-burgundy/">Featured Post</a>
				</li>
				<li>
					<a href="{{@blog.url}}/wireless-speaker-or-art-piece/">Image Format</a>
				</li>
				<li>
					<a href="{{@blog.url}}/audi-sends-self-driving-a7-sportback-auto/">Video Format</a>
				</li>
				<li>
					<a href="{{@blog.url}}/the-92m-x-ballet-brings-relaxed/">Audio Format</a>
				</li>
			</ul>
	<!-- End level 3 menu-->
		</li>
		<li>
			<a href="{{@blog.url}}/html-markup/">Html Markup</a>
		</li>
		<li>
			<a href="{{@blog.url}}/image-alignment/">Image Alignment</a>
		</li>
		<li>
			<a href="{{@blog.url}}/short-codes/">Short Codes</a>
		</li>		
		<li>
			<a href="{{@blog.url}}/9999/">404 Error</a>
		</li>		
	</ul>
	<!-- End level 2 menu-->
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li class="has-children">
	<a href="#"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/about/-->
		About<!--Change text of menu here-->
	</a>
		<ul class="sub-menu">
			<li >
				<a class="external" href="http://unmistakable.us/">About Us</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/travel">Travel</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/educate">Educate</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/craft">Craft</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/create">Create</a>
			</li>
			<li>
				<a class="external" href="http://unmistakable.us/write">Write</a>
			</li>
		</ul>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}/contact/"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/contact/-->
		Contact <!--Change text of menu here-->
	</a>
</li>
{{!End Menu Item}}
{{!Create your next Menu Item}}