<ul class="sf-social">
    <li class="twitter">
        <a href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" target="_blank" title="Share this post via Twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li class="google">
        <a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank" title="Share this post via Google">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
    <li class="facebook">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank" title="Share this post via Facebook">
            <i class="fa fa-facebook"></i>
        </a>
    </li>    
    <!--li class="linkedin">
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&amp;title={{encode title}}" target="_blank" title="Share this post via Linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
    </li-->
</ul>