<div class="widget facebook-like{{#unless widget_title}} no-title{{/unless}}{{#if custom_class}} {{custom_class}}{{/if}}">
	{{#if widget_title}}
	<h3 class="widget-title">{{{widget_title}}}</h3>
	{{/if}}
	<div class="widget-content">		
		<div class="sf-fb-like-box" data-pageurl="{{fanpage_url}}" data-show-faces="{{show_faces}}"  data-header="{{show_header}}" data-stream="{{show_stream}}" data-show-border="{{show_border}}">
		</div>
	</div>
</div>