<div class="widget instagram{{#unless widget_title}} no-title{{/unless}}{{#if custom_class}} {{custom_class}}{{/if}}">
	{{#if widget_title}}
	<h3 class="widget-title">{{{widget_title}}}</h3>
	{{/if}}
	<div class="widget-content">
		<ul class="instagram-feed" data-userid="{{user_name}}" data-api-token="{{api_token}}" data-api-clientid="{{api_clientid}}" data-mode="gallery" data-display="{{display}}" data-cols="{{cols}}" data-popup-preview="{{popup_preview}}">
		</ul>
		{{#if show_follow_box}}
		<a class="btn btn-success btn-block" target="_blank" href="https://instagram.com/{{user_name}}" style="margin-top: 19px;">
			{{#if follow_box_text}}
				{{follow_box_text}}
			{{else}}
				Follow on Instagram			
			{{/if}}
		</a>
		{{/if}}
	</div>
</div>