<div class="widget newsletter{{#unless widget_title}} no-title{{/unless}}{{#if custom_class}} {{custom_class}}{{/if}}">
	{{#if widget_title}}
	<h3 class="widget-title">{{{widget_title}}}</h3>
	{{/if}}	
	<div class="widget-content">
		{{#if desc}}
	    <p class="desc">
	    	{{{desc}}}
	    </p>
	    {{/if}}
        <div class="form-container space-top-2x">        	
        	{{#if form_url}}
        	<form class="newsletter-form" action="{{form_url}}" method="post">
	            <div class="input-group">
	                <input id="newsletter-email" type="email" name="EMAIL" placeholder="Email address" class="form-control" required="">
	                <span class="input-group-btn">
	                    <button class="btn btn-primary" type="submit"><i class="fa fa-paperplane-o"></i>  Subscribe <i class="fa fa-long-arrow-right"></i></button>
	                </span>
	            </div>
	            <div class="alert alert-success fade in" role="alert">
	                <button type="button" class="close" data-dismiss="alert">
	                	<span aria-hidden="true">x</span>
	                	<span class="sr-only">Close</span>
	                </button>
	                <h4 class="alert-title">Thanks For Subscribing!</h4>
	                <p class="alert-text">
	                    Before you'll get your newsletter, you will need to confirm that you're human. Please find our confirmation email in your inbox before you forget.
	                </p>                  
	            </div>
        	</form>
        	{{else}}
        	<p>Whoops, something ate this part of the internet.</p>
        	{{/if}}
    	</div>
    </div>
</div>