{{!< default}}
{{#contentFor "customScript"}}<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>{{/contentFor}}
{{#post}}
{{#has tag="_full_cover"}}
	{{#contentFor "customBodyClass"}}full-cover{{/contentFor}}
	{{>banner/contact}}
{{/has}}
<div class="main-wrap"> 
	<div class="row">		       
	    <div class="main-content {{^has tag="_full_width,_left_sidebar,_both_sidebar"}}col-md-8 right-sidebar{{else}}{{#has tag="_both_sidebar"}}col-md-6 col-md-push-3 both-sidebar{{else}}{{#has tag="_left_sidebar"}}col-md-8 col-md-push-4 left-sidebar{{else}}col-md-10 col-md-push-1 full-width{{/has}}{{/has}}{{/has}}">
	        <div class="body-content" role="main">
	        	<div class="post-content {{post_class}} {{^has tag="_full_cover"}}has-cover{{/has}}">
	        		<div class="post-inner">	
	        			{{^has tag="_full_cover"}}
	        			<div class="post-header">         
				            <div class="header-wrap">				            		            	
				            	<div class="post-cover">
				            	{{#if image}}	            					            	
				            		<img src="{{image}}" alt="{{{title}}}" class="img-responsive"/>	            		            		            	
				            	{{else}}
					            	<div class="gmap-container">
										<div class="gmap" id="gmap"
											data-latitude="44.061115" {{!Change Your map latitude here}}
											data-longitude="-121.3848562" {{!Change Your map longitude here}}
										>
										</div>
									</div>
				            	{{/if}}					            
				            	</div>
				            	<div class="top-area">
				            		<div class="top-area-wrap">						            	
						                <h1 itemprop="name headline" class="post-title">
						                    {{{title}}}
						                </h1>
						            </div>
					            </div>
					        </div>
					    </div>
	        			{{/has}}
		        		<div class="content-area">
		        			{{content}}
		        		</div>
		        	</div>
	        	</div>               
	        </div>
	    </div>
	    {{^has tag="_full_width,_left_sidebar,_both_sidebar"}}	    	    
		<div class="col-md-4 sidebar right-sidebar">
			{{>sidebar/default}} 
		</div>
	    {{else}}
		{{#has tag="_both_sidebar"}}				
		<div class="col-md-3 col-md-pull-6 sidebar left-sidebar">
			{{>sidebar/left}} 
		</div>
		<div class="col-md-3 sidebar right-sidebar">
			{{>sidebar/default}} 
		</div>
		{{else}}
		{{#has tag="_left_sidebar"}}
			<div class="sidebar col-md-4 col-md-pull-8 left-sidebar">
				{{>sidebar/default}} 
			</div>				
		{{/has}}
		{{/has}}
	    {{/has}}
	</div>
</div>
{{/post}}